html
  head
    title Projet Node Js - Todo List
  body
    h1 Projet Node Js - Todo List
    h4 Auteur : Jonathan DINH & Theo HERNANDEZ
    p Tous les Users: 
    table
      tr
        th Firstname
        th Lastname
        th Username
        th Password
        th Email
        th Cree le
        th Modifier le
      each word in content
        tr
          td=word[0]
          td=word[1]
          td=word[2]
          td=word[3]
          td=word[4]
          td=word[5]
          td=word[6]
          td=word[7]